- name: Add Font Tap in Homebrew
  homebrew_tap:
    name: homebrew/cask-fonts

- name: Install common apps
  ignore_errors: true
  homebrew:
    name: "autojump,\
      asdf,\
      bat,\
      coreutils,\
      colima,\
      curl,\
      docker,\
      docker-compose,\
      diff-so-fancy,\
      eza,\
      fd,\
      fzf,\
      font-jetbrains-mono-nerd-font,\
      git,\
      jq,\
      lazydocker,\
      mas,\
      neovim,\
      ripgrep,\
      whalebrew,\
      tmux,\
      tldr,\
      tpm,\
      usql,\
      xclip,\
      yarn"
    state: present
  tags:
    - work
    - personal
    - apps
    - apps-personal

- name: Install common casks (GUI apps)
  ignore_errors: true
  homebrew_cask:
    name: "maccy,\
      alacritty,\
      numi,\
      flux,\
      stats,\
      obsidian,\
      rectangle,\
      dbeaver-community,\
      microsoft-remote-desktop,\
      google-chrome"
    state: present
  tags:
    - work
    - personal
    - apps
    - apps-personal

- name: Install personal casks (GUI apps)
  ignore_errors: true
  homebrew_cask:
    name: "alfred,\
      freedom,\
      calibre,\
      disk-inventory-x,\
      firefox,\
      folx,\
      google-drive,\
      notion,\
      slack,\
      tempbox,\
      virtualbox,\
      vlc"
    state: present
  tags:
    - personal
    - apps-personal
